/*
© K-136 2021 | https://github.com/K-136/devcss
*Highly inspired by Bootstrap
*Using CoreUI Icons https://coreui.com
*Still beta.
   
Note:-
   
I'm still noob. I just trying to share my work with all and make their development easy. Ig there's another easy way to use cdn. if you know howto just tell me via email : MizuharaChizru@gmail.com
*/

button{
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-tap-highlight-color: transparent;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: none;
  min-width: 40px;
  min-height: 40px;
  transition: border 500ms;
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: center;
  transition: 400ms;
  cursor: pointer;
}
button:hover{
  border: .1px solid;
}
button:focus{
  outline: none;
}
.github{
  color: #FFFFFF;
  background-color: #2D2D2D;
  background-image: url(/icons/github.svg)
}
.github:hover{
  border-color: #A7A7A7;
  box-shadow: 2px 3px 10px 3px #A7A7A7;
}
.twitter{
  color: #FFFFFF;
  background-color: #00ACEE;
  background-image: url(/icons/twitter.svg);
}
.twitter:hover{
  border-color:  #00E1FF;
  box-shadow: 2px 3px 10px 3px #84D1F7;
}
.coffee{
  color: #FFFFFF;
  background-color: #FFDB3B;
  background-image: url(/icons/bmc.svg);
}
.coffee:hover{
  border-color:  #FFE986;
  box-shadow: 2px 3px 10px 3px #FFE986;
}
.paypal{
  color: #FFFFFF;
  background-color:  #0079C1;
  background-image: url(/icons/paypal.svg);
}
.paypal:hover{
  border-color: #549AFF;
  box-shadow: 2px 3px 10px 3px #7BB1FF;
}
.telegram{
  color: #FFFFFF;
  background-color: #05ACFF;
  background-image: url(/icons/telegram.svg);
}
.telegram:hover{
  border-color:  #6ACEFF;
  box-shadow: 2px 3px 10px 3px #91DAFF;
}
.patreon{
  color: #FFFFFF;
  background-color: #f96854;
  background-image: url(/icons/patreon.svg);
}
.patreon:hover{
  border-color:  #FF5B60;
  box-shadow: 2px 3px 10px 3px #FF7B7F;
}